# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android related
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/key.properties
*.jks
*.keystore

# iOS related
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh

# macOS related
/macos/Flutter/Generated.xcconfig
/macos/Flutter/ephemeral/
/macos/Pods/

# Symbolication / Obfuscation related
app.*.symbols
app.*.map.json

# Web related
/lib/generated_plugin_registrant.dart

# Environment variables & secrets
.env
.env.*

# FVM (Flutter Version Management)
.fvm/flutter_sdk
